body {
  margin: 0;
  margin-top: 0;
  padding: 0;
  background-color: lightgray;
  height: auto;
}

.intro-wrapper {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.intro-wrapper .intro-text {
  height: 600px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-wrapper .intro-text .intro-header {
  margin: 25px 0;
  color: black;
  font-size: 32px;
}

.intro-wrapper .intro-text p {
  margin: 25px 15%;
  color: black;
}
.intro-wrapper .intro-text .intro-sub-container {
  margin-left: 15%;
}

.intro-wrapper .intro-graphic {
  background-color: #556b2f;
  height: 600px;
  width: 55%;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
