body {
  margin: 0;
  margin-top: 0;
  padding: 0;
  background-color: lightgray;
  height: auto;
}

.intro-wrapper {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.intro-wrapper .intro-text {
  height: 600px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-wrapper .intro-text .intro-header {
  margin: 25px 0;
  color: black;
  font-size: 32px;
}

.intro-wrapper .intro-text p {
  margin: 25px 15%;
  color: black;
  line-height: 25px;
}

.intro-wrapper .intro-text .intro-sub-container {
  margin: 0 5% 0 15%;
}

.intro-wrapper .header-icons {
  margin-left: 15%;
  font-size: 26px;
}

.intro-wrapper .header-icons .github-header,
.intro-wrapper .header-icons .linkedin-header {
  margin-right: 5px;
  color: black;
}

.intro-wrapper .header-icons .github-header:hover {
  transition: color .5s ease;
  color: #6CC644;

}

.intro-wrapper .header-icons .linkedin-header:hover {
  transition: color .5s ease;
  color: #0e76a8;
}


.intro-wrapper .intro-graphic {
  /* background-color: #556b2f; */
  background-color: #170063;
  height: 600px;
  width: 55%;
}

.about-wrapper {
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin: -50px 0;
}

.about-wrapper .about-image {
  height: 500px;
  width: 60%;
  background-color: #3a1c9c;
  box-shadow: 0px 0px 2.5px #3a1c9c;
}

.about-wrapper .about-text {
  height: 500px;
  width: 40%;
  display: flex;
  align-items: center;
}

.about-wrapper .about-text p {
  margin: 25% 10%;
  font-size: 1em;
  line-height: 25px;
}

.skills-wrapper {
  margin: 125px 10%;
}

.skills-wrapper .skills-container {
  height: auto;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 2px;
}

.skills-wrapper h5 {
  text-align: center;
  font-size: 32px;
}

.skills-wrapper .skills-container .skills-logos {
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills-wrapper .skills-container .skills-logos .logo-container {
  padding: 2%;
  font-size: 100px;
}

.skills-wrapper .skills-container .skills-logos .logo-container .logo-text {
  font-size: 16px;
  margin-top: -15px;
  text-align: center;
}

.proj-wrapper {
  height: 700px;
  width: 100%;
  margin: 25px auto;
  background-color: #d5c1ba;
}

.proj-wrapper h5 {
  text-align: center;
  font-size: 32px;
  padding-top: 25px;
  margin: 0;
}

.proj-wrapper .proj-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75%;
  margin: 50px 0;
}

.proj-wrapper .proj-container .project-box {
  width: 40%;
  height: 100%;
  background-color: white;
  margin: 15px;
  box-shadow: 0px 0px 5px gray;
}

.proj-wrapper .proj-container .project-box {
  -webkit-filter: brightness(100%);
}

.proj-wrapper .proj-container .project-box:hover > .project-img {
  filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.proj-wrapper .proj-container .project-box .project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proj-wrapper .proj-container .project-box .proj-title {
  margin: -150px 0 0 25px;
  opacity: 0;
  position: relative;
  z-index: 1;
}

.proj-wrapper .proj-container .project-box .proj-title p {
  font-size: 40px;
  color: #fff;
  margin: -200px 0 0 25px;
}

.proj-wrapper .proj-container .project-box .proj-title .proj-icons {
  margin: 0 0 0 25px;
}

.proj-wrapper .proj-container .project-box:hover .proj-title,
.proj-wrapper .proj-container .project-box:hover .project-img:hover + .proj-title {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  transition: opacity .5s ease;
  -webkit-filter: brightness(100%);

}


.proj-wrapper .proj-container .project-box:hover .proj-title {
  margin: -150px 0 0 0;
}

.proj-wrapper .proj-container .project-box:hover .proj-title .proj-icons svg{
  font-size: 24px;
  color: white;
  margin-right: 5px;
}

.footer-wrapper {
  height: 60px;
  background-color: lightgray;
}

.footer-wrapper .footer-icons {
  width: 100px;
  margin: auto;
  font-size: 42px;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper .footer-icons a {
  color: black;
}

.footer-wrapper .footer-icons .github-icon:hover {
  transition: color .5s ease;
  color: #6CC644;

}

.footer-wrapper .footer-icons .linkedin-icon:hover {
  transition: color .5s ease;
  color: #0e76a8;
}

@media screen and (max-width: 700px) {
  .intro-wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .intro-wrapper .intro-text {
    width: 100%;
    height: 400px;

  }

  .intro-wrapper .intro-text .intro-sub-container {
    margin: 0 20% 0 10%;
  }

  .intro-wrapper .intro-text p {
    margin: 0 20% 0 10%;
  }
  
  .intro-wrapper .header-icons {
    margin: 15px 20% 0 10%;
  }

  .intro-wrapper .intro-graphic {
    background-color: #170063;
    height: 300px;
    width: 100%;
  }

  .about-wrapper {
    height: 550px;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 0 25px 0;
  }

  .about-wrapper .about-image {
    height: 300px;
    width: 100%;
  }
  
  .about-wrapper .about-text {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .about-wrapper .about-text p {
    margin: 10%;
  }
    
  .proj-wrapper .proj-container {
    flex-direction: column;
    height: 75%;
  }
  
  .proj-wrapper .proj-container .project-box {
    width: 90%;
    height: 100%;
    margin: 15px;
  }

  .proj-wrapper .proj-container .project-box .proj-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .proj-wrapper .proj-container .project-box .proj-title p {
    font-size: 24px;
    margin: 0;
  }

  .proj-wrapper .proj-container .project-box .proj-title .proj-icons {
    margin: 5px 0;
  }
}


@media screen and (max-width: 500px) {
  .about-wrapper .about-text {
    height: 400px;
  }
  
  .about-wrapper .about-text p {
    font-size: 14px;
  }

  .skills-wrapper {
    margin: 25px 10% 60px 10%;
  }

  .skills-wrapper .skills-container .skills-logos .logo-container {
    font-size: 75px;
  }
}
