.navbar {
    padding: 0;
    margin: 0;
    height: 60px;
    /* background-color: black; */
    /* position: sticky; */
   }
   
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-left: 3%;
    height: 100%;
    max-width: 1800px; /* Fix this when test at 2500px */
}

.logoContainer {
    color: black;
    width: 75px;
}

.navbar .nav-wrapper .nav-links {
    margin-left: 70%;
    width: 100%;
}

.hamburger-react {
    display: block;
}

.navbar .nav-wrapper .nav-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navbar .nav-wrapper .nav-links ul li {
    list-style: none;
}


.navbar .nav-wrapper .nav-links ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar {
    margin-top: 60px;
    display: block;    
    /* background-color: #E3E3E3; */
    opacity: .65;
    position: fixed;
    top: 0;
    right: 0; /* Start off-screen */
    width: 90px;
    height: 100vh;
    padding: 20px;
    z-index: 10;
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s; /* Firefox < 16 */
    -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera < 12.1 */
    animation: fadein .5s;
    /* transform: translateX(0); */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .65; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .65; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .65; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .65; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .65; }
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    position: sticky;
}

.sidebar ul li {
    margin: 30px 10px;
}

.sidebar ul li a {
    margin-bottom: 10px;
    position: relative;
    color: #fff;
    text-decoration: none;
    opacity: 1;
    font-size: 20px;
}

.sidebar ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #333;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.sidebar ul li a:hover::after {
    width: 100%;
}
