.navbar {
    padding: 0;
    margin: 0;
    height: 25vh;
    position: absolute;
}
   
.logoContainer {
    color: black;
    width: 100%;
}

.logoContainer .logo {
    width: 4vw;
    height: 4vw;
    margin: 0 auto 10px auto;
}

.nav {
    position: fixed;
    top: 5vw;
    left: 4vw;
}

.nav .nav-links .nav-item {
    margin-bottom: .5vh;
}

.nav-links {
    margin: 30px auto 20px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    margin-top: 1vh;
  }
  
.nav-links a p {
    font-size: 20px;
    margin: 8px;
}

.nav-links a {
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.2vw;
    font-weight: 650;
}

.nav-links a:hover {
    color: #000;
    cursor: pointer;
}

.nav-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover::before {
    transform: scaleX(1);
}

.contact-icons {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.contact-icons .li-icon {
    font-size: 2vw;
    cursor: pointer;
    color: #000;
}


.contact-icons .li-icon:hover {
    transition: color .5s ease;
    color: #0e76a8;
}

.contact-icons .gh-icon {
    font-size: 2vw;
    cursor: pointer;
    color: #000;
}
.contact-icons .gh-icon:hover {
    transition: color .5s ease;
    color: #6CC644;
}




@media screen and (max-width: 1000px) {
    .logoContainer .logo {
        width: 50px;
        height: 50px;
    }

    .nav {
        top: 20px;
        right: 50%;
    }

    .nav .nav-links {
        display: none;
    }
}


  