.project-wrapper {
    margin: 0;
    padding: 0;
}

.project-header {
    height: 500px;
    background-color: bisque;
    filter: brightness(50%);
}

.gutter {
    margin: 25px auto;
    width: 90%;
    height: auto;
}

.proj-intro {
    margin: 50px auto;
    width: 90%;
}

p {
    line-height: 25px;
    margin: 25px;
}

.proj-parts {
    height: 400px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 2px;
}

h5 {
    font-size: 24px;
    padding: 10px 25px 5px 25px;
}

.proj-parts .parts {
    padding: 0 25px;
}

.proj-parts .parts ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    margin: 0 auto;
    width: 90%;
}

.proj-parts .parts ul li {
    padding: 5px;
}

.instruct-container {
    margin: 25px auto;
}

.instruct-container .two-col {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.image1 {
    height: 200px;
    width: 350px;
    background-color: antiquewhite;
    padding: 0 25px;
    margin-left: 25px;
}

.image2 {
    height: 200px;
    width: 350px;
    background-color: black;
    padding: 0 25px;
}

.col {
    display: flex;
    align-items: center;
}

.instruct-container .two-col p {
    width: 75%;
    margin: 0 25px;
}

.one-col {
    height: 350px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 1px;
    padding: 50px auto;
    /* width: 90%; */
}

.one-col h5 {
    margin-right: 25px;
}

.sub-one-col {
    margin: 50px auto;
    width: 90%;
}

.sub-one-col p {
    margin: 0 25px;
}


